<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <title>Sistema recomendador</title>
  </head>
  <body>
    <section class="section">
      <div class="container is-max-desktop">
        <h1 class="title">Sistema Recomendador</h1>
        <p class="subtitle">
          ¡Sistema recomendador para crear tu equipo perfecto de fútbol! Ideal
          para juegos como FIFA o si piensas convertirte en el próximo Pep
          Guardiola.
        </p>
        <div class="content">
          <ul>
            <li>Juan Pablo Ciro</li>
            <li>Juan Carlos Jaramillo</li>
            <li>Sebastián Rendón</li>
          </ul>
          <form></form>
        </div>
      </div>
    </section>
  </body>
</html>
