<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Sistema recomendador</title>
  </head>
  <body>
    {% set n_players = 5 %}
    <section class="section">
      <div class="container">
        <h1 class="title">Sistema Recomendador</h1>
        <p class="subtitle">
          ¡Sistema recomendador para crear tu equipo perfecto de fútbol! Ideal
          para juegos como FIFA o si piensas convertirte en el próximo Pep
          Guardiola.
        </p>
        <div class="content">
          <ul>
            <li>Juan Pablo Ciro</li>
            <li>Juan Carlos Jaramillo</li>
            <li>Sebastián Rendón</li>
          </ul>
          <div class="card">
            <div class="card-content">
              <form action="/recommend-player" method="post">
                <p class="subtitle py-2">Agrega 5 jugadores de tu plantel</p>
                {% for p in range(1,6) %}
                <div class="columns">
                  <div class="column is-two-thirds">
                    <div class="field">
                      <div class="control">
                        <label for="player{{p}}" class="label"
                          >Jugador #{{ p }}</label
                        >
                        <div class="select is-fullwidth">
                          <select id="player{{p}}" name="player{{p}}" required>
                            <option selected disabled>
                              Selecciona un jugador, sin repetición
                            </option>
                            {% for player in players %}
                            <option value="{{ player }}">{{ player }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="control">
                      <label for="valueplayer{{p}}" class="label"
                        >Valoración del jugador #{{ p }}</label
                      >
                      <div class="select is-fullwidth">
                        <select
                          id="valueplayer{{p}}"
                          name="valueplayer{{p}}"
                          required
                        >
                          <option selected disabled>
                            Selecciona un puntaje
                          </option>
                          {% for value in range(1, 11) %}
                          <option value="{{ value }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <hr />
                <div class="field">
                  <label for="position" class="label"
                    >Posición que buscas</label
                  >
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select id="position" name="position" required>
                        <option selected disabled>
                          Selecciona una posición
                        </option>
                        {% for pos in positions %}
                        <option value="{{ pos }}">{{ pos }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <button type="submit" class="button is-primary">
                    Recomendar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
