<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css"
    />
    <title>Sistema recomendador</title>
  </head>
  <body>
    {% set n_players = 5 %}
    <section class="section">
      <div class="container">
        <h1 class="title">Tu recomendación:</h1>
        <div class="content">
          {% for recommended_player in recommended_players %}
          <div class="card mt-4">
            <div class="card-content">
              <p class="title is-2">
                {{ recommended_player.label }} {% if values[loop.index0] < 0.5
                %}
                <span class="tag is-danger is-large is-rounded"
                  >{{ (values[loop.index0] * 100)|int }}</span
                >
                {% elif values[loop.index0] < 0.75 %}
                <span class="tag is-warning is-large is-rounded"
                  >{{ (values[loop.index0] * 100)|int }}</span
                >
                {% else %}
                <span class="tag is-success is-large is-rounded"
                  >{{ (values[loop.index0] * 100)|int }}</span
                >
                {% endif %}
              </p>
              <p class="subtitle">
                <b>{{ recommended_player.position }}</b>
                {% if key_factors_list[loop.index0]['position'] %}
                <span class="tag is-rounded is-small is-light is-primary">
                  Esta es la posición que buscabas
                </span>
                {% endif %}
              </p>
              <p class="subtitle">
                <b>{{ recommended_player.club }}</b>
                {% if key_factors_list[loop.index0]['club'] %}
                <span
                  data-tooltip="{{ ', '.join(tooltip_factors_list[loop.index0]['club']) }}"
                  class="tag is-rounded is-small is-light is-primary"
                >
                  {{ key_factors_list[loop.index0]['club'] }} jugador(es) de tu
                  plantel juegan en este equipo
                </span>
                {% endif %}
                <span> en </span>
                <b>{{ recommended_player.league }}</b>
                {% if key_factors_list[loop.index0]['league'] %}
                <span
                  data-tooltip="{{ ', '.join(tooltip_factors_list[loop.index0]['league']) }}"
                  class="tag is-rounded is-small is-light is-primary"
                >
                  {{ key_factors_list[loop.index0]['league'] }} jugador(es) de
                  tu plantel juegan en esta liga
                </span>
                {% endif %}
              </p>
              <div class="content">
                <ul>
                  <li>
                    <span class="subtitle">
                      Nació en <b>{{ recommended_player.country }}</b> {%
                      autoescape false %}{{ recommended_player.flag }}{%
                      endautoescape %}
                    </span>
                    {% if key_factors_list[loop.index0]['country'] %}
                    <span
                      data-tooltip="{{ ', '.join(tooltip_factors_list[loop.index0]['country']) }}"
                      class="tag is-rounded is-small is-light is-primary"
                      >{{ key_factors_list[loop.index0]['country'] }}
                      jugador(es) de tu plantel son de este país</span
                    >
                    {% endif %}
                  </li>
                  <li>
                    <span class="subtitle">
                      Su pie dominante es <b>{{ recommended_player.foot }}</b>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <footer class="card-footer">
              <a href="/" class="card-footer-item">Volver</a>
            </footer>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>
